#dropdown-data {
    position: relative;
    display: inline-block;
  }
  
#dropdown-content-data {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.7s ease-in-out;
    right: -50%;
    position: absolute;
    z-index: 1;
}
  
#dropdown-data:hover #dropdown-content-data {
    visibility: visible;
    opacity: 1;
}

#dropdown-dev {
    position: relative;
  }
  
#dropdown-content-dev {
    left: -50%;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.7s ease-in-out;
}

#dropdown-dev:hover #dropdown-content-dev {
    visibility: visible;
    opacity: 1;
}

/* CSS for little triangle on top of dropdown*/
#arrow-up {
    width: 0; 
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-bottom: 8px solid ;
  }

/* CSS for arrow showing up on hover of docs*/
#dropdown-item-arrow {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

#dropdown-item:hover #dropdown-item-arrow {
    visibility: visible;
    opacity: 1;
}